<div class="container">
    <mat-card class="card-container">
      <mat-card-title><h2 style="padding-left: 10px;">Enter Your Card Details</h2></mat-card-title>
        <form [formGroup]="paymentDetails" class="mat-dialog-content">
  
            <!--Textarea for demo purposes-->
            <div class="form">
              <mat-form-field color="accent">
                <input matInput #input  type="text" placeholder="Card Number" id="cardNumber" formControlName="cardNumber">
              </mat-form-field>
            </div>
            <span *ngIf="paymentDetails.controls['cardNumber'].errors?.['required'] && paymentDetails.controls['cardNumber'].touched" style="color: #d32f2f;">Please enter valid name</span>
      
        
            <!--Contains mat-hint for characters count and has maxLengt set-->
            <div class="form">
              <mat-form-field color="accent">
                <input matInput min="1" #inputstate placeholder="Expiry Date"  type="number" id="expiryDate" formControlName="expiryDate" required >
              </mat-form-field>
            </div>
            <span *ngIf="paymentDetails.controls['expiryDate'].errors?.['required'] && paymentDetails.controls['expiryDate'].touched" style="color: #d32f2f;">Please enter a valid price</span>
      
        
            <div class="form">
              <mat-form-field color="accent">
                <input matInput min="1" placeholder="CVV Number" type="number" id="cvvNumber" formControlName="cvvNumber" #input>
              </mat-form-field>
            </div>
            <span *ngIf="paymentDetails.controls['cvvNumber'].errors?.['required'] && paymentDetails.controls['cvvNumber'].touched" style="color: #d32f2f;">Please enter a valid quantity</span>
          </form>
          <mat-card-actions>
            <button mat-raised-button color="accent">Add</button>
            <button mat-raised-button tabindex="-1" style="margin-left: 6px;" color="warn">Cancel</button>
        </mat-card-actions>
    </mat-card>

    <div class="actions">
    <div class="checkout">
        <mat-card style="background: #2a2b38;">
            <mat-card-header>
              <mat-card-title><h2>Cart Summary</h2></mat-card-title>
              <mat-card-subtitle><h2>Total: {{cartTotal | currency:'ZAR':"symbol-narrow"}}</h2></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button color="accent" matStepperNext>Continue</button>
            </mat-card-actions>
          </mat-card>
    </div>
    </div>
    </div>
    
    
    