<mat-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Delivery Information</ng-template>
        <app-delivery-checkout-page></app-delivery-checkout-page>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment Details</ng-template>
      <app-payment-checkout-page></app-payment-checkout-page>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Order Confirmation</ng-template>
      <app-order-confirmation-page></app-order-confirmation-page>
    </mat-step>
  </mat-stepper>