.example-card {
    max-width:100%;
    margin-top: 10px;
    background: #2a2b38;
  }
  .container {
    display: flex; /* or inline-flex */
  }

  .container > *{
    flex: 1;
  }

  h2{
    color: white;
  }

  .checkout{
    position: sticky;
    top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: 25px;
  }