<p>
  <mat-toolbar color="primary">
      <span>Books R Us</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/login']">
        <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
